/* colours */
:root {
    --primary: #771212;
    --secondary:  #070706;
    --title: #e4cccc;
  }
 

  .t-body{
    opacity: 0.25;
    position: fixed;
    width: 100%;
    height: 100%;
  }


  /* nav styles */
  nav {
    background: var(--primary);
    border-bottom: 10px solid var(--secondary);
    height: auto;

  }
  nav a {
    text-transform: full-width;
    color: var(--title);
  }
  nav a span {
    font-weight: bold;
    font-size: large;
  }
  nav .sidenav-trigger {
    margin: 0;
  }

  /*link styles*/

  a:link {
    color:#6e0e0e;
    text-decoration: none;
    
  }

  a:visited {
    color:rgb(9, 9, 29);
    text-decoration: none;
  }


  /* column styles */
  .column{
    margin-top: 10px;
  }
  .card-panel.column {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(78, 75, 75, 0.842);
    display: grid;
    color: #000;
    background-color: whitesmoke;
    position: relative;   
  }

  .column-gap{
    column-gap: normal;
  }

  .column img {
    grid-area: image;
    max-width: 100px;  
  }
  .column-details {
    grid-area: details;
    margin-top: 6px;
  }
  
  .column-title {
    font-weight: bold;
    text-align: center;
  }
  .column-ingredients {
    font-size: 0.8em;
  }

  .housing-img{
    height: 75%;
    width: 75%;
  }
  
  .content {
    background: #990033;
    max-width: 960px;
    margin: 30px auto;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 1px 3px 5px #555;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 20px;
    background: #fafaee;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
  }
  
  li:nth-child(even) {
    padding: 20px;
    background: #f2f2f2;
  }
  
  li span {
    display: block;
  }
  
  li span:nth-child(2) {
    font-size: 16px;
    margin-top: 6px;
    color: #999;
  }
  
  li div {
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255, 255, 255, 0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
  }
  
  form input {
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
  }
  
  form input:focus {
    outline: none;
    border-bottom: 3px solid ;
    padding-bottom: 8px;
    transition: all ease 0.2s;
  }
  
  form:after {
    content: "";
    clear: both;
    display: block;
  }
  
  button {
    border: 0;
    background: #fff;
    border-radius: 10px;
    padding: 13px;
    width: 14%;
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: #000;
  }

  h2 {
    color: #fff;

  }